# REQUIRED: add at least the Share url
# The first entry will also be used to assume the base URL of this alfresco install
# For more information please have a look at the
# [security_doc](https://github.com/Alfresco/alfresco-ansible-deployment/blob/master/docs/SECURITY.md#specify-trustworthy-applications)
known_urls: []

artifacts_repositories:
  enterprise:
    base_url: "https://artifacts.alfresco.com/nexus/content"
    repository: "groups/private"
    group_id: "org/alfresco"
  community:
    base_url: "https://artifacts.alfresco.com/nexus/content"
    repository: "groups/public"
    group_id: "org/alfresco"
  development:
    repository: "groups/internal"
nexus_repository:
  releases: >-
    {{ artifacts_repositories.community.base_url }}/{{ artifacts_repositories.community.repository }}/{{ artifacts_repositories.community.group_id }}
  enterprise_releases: >-
    {{ artifacts_repositories.enterprise.base_url }}/{{ artifacts_repositories.enterprise.repository }}/{{ artifacts_repositories.enterprise.group_id }}
  development_releases: >-
    {{ artifacts_repositories.enterprise.base_url }}/{{ artifacts_repositories.development.repository }}/{{ artifacts_repositories.enterprise.group_id }}
acs:
  artifact_name: alfresco-content-services-distribution
  edition: Enterprise
  repository: "{{ nexus_repository.enterprise_releases }}"
  version: 23.1.1
amps:
  aos_module:
    repository: "{{ nexus_repository.releases }}/aos-module/alfresco-aos-module"
    version: 2.0.0
  device_sync:
    repository: >-
      {{ nexus_repository.enterprise_releases }}/services/sync/alfresco-device-sync-repo
    version: 4.0.1
  googledrive_repo:
    repository: >-
      {{ nexus_repository.enterprise_releases }}/integrations/alfresco-googledrive-repo-enterprise
    version: 4.0.0
  googledrive_share:
    repository: >-
      {{ nexus_repository.releases }}/integrations/alfresco-googledrive-share
    version: 4.0.0
api_explorer:
  artifact_name: api-explorer
  repository: "{{ nexus_repository.releases }}"
  version: 23.1.0
search_enterprise:
  artifact_name: alfresco-elasticsearch-connector-distribution
  repository: "{{ nexus_repository.enterprise_releases }}"
  version: 4.0.0.1
search:
  artifact_name: alfresco-search-services
  repository: "{{ nexus_repository.releases }}"
  version: 2.0.9
transform:
  artifact_name: alfresco-transform-core-aio
  repository: "{{ nexus_repository.releases }}"
  version: 5.0.1
trouter:
  artifact_name: alfresco-transform-router
  repository: "{{ nexus_repository.enterprise_releases }}"
  version: 4.0.1
sfs:
  artifact_name: alfresco-shared-file-store-controller
  repository: "{{ nexus_repository.enterprise_releases }}"
  version: 4.0.1
adw:
  artifact_name: alfresco-digital-workspace
  repository: "{{ nexus_repository.enterprise_releases }}"
  version: 4.3.0
sync:
  repository: >-
    {{ nexus_repository.enterprise_releases }}/services/sync/sync-dist-6.x
  version: 4.0.1
acc:
  artifact_name: alfresco-control-center
  repository: "{{ nexus_repository.releases }}"
  version: 8.3.0
supported_os:
  RedHat:
    versions:
      - 9.3
      - 9.2
      - 9.1
      - 9.0
      - 8.8
      - 8.7
      - 8.6
      - 8.5
      - 8.4
      - 8.2
      - 7.9
      - 7.7
      - 7.6
  Rocky:
    versions:
      - 9.3
      - 9.2
      - 9.1
      - 9.0
      - 8.8
      - 8.7
      - 8.6
  CentOS:
    versions:
      - 7.9
      - 7.7
  Ubuntu:
    versions:
      - 22.04
      - 20.04
      - 18.04
downloads:
  acs_zip_url: >-
    {{ acs.repository }}/{{ acs.artifact_name }}/{{ acs.version }}/{{ acs.artifact_name }}-{{ acs.version }}.zip
  acs_zip_sha1_checksum_url: >-
    {{ acs.repository }}/{{ acs.artifact_name }}/{{ acs.version }}/{{ acs.artifact_name }}-{{ acs.version }}.zip.sha1
  acc_zip_url: >-
    {{ acc.repository }}/{{ acc.artifact_name }}/{{ acc.version }}/{{ acc.artifact_name }}-{{ acc.version }}.zip
  acc_zip_sha1_checksum_url: >-
    {{ acc.repository }}/{{ acc.artifact_name }}/{{ acc.version }}/{{ acc.artifact_name }}-{{ acc.version }}.zip.sha1
  adw_zip_url: >-
    {{ adw.repository }}/{{ adw.artifact_name }}/{{ adw.version }}/{{ adw.artifact_name }}-{{ adw.version }}.zip
  adw_zip_sha1_checksum_url: >-
    {{ adw.repository }}/{{ adw.artifact_name }}/{{ adw.version }}/{{ adw.artifact_name }}-{{ adw.version }}.zip.sha1
  search_enterprise_zip_url: >-
    {{ search_enterprise.repository }}/{{ search_enterprise.artifact_name }}/{{ search_enterprise.version }}/{{ search_enterprise.artifact_name }}-{{ search_enterprise.version }}.zip
  search_enterprise_zip_sha1_url: >-
    {{ search_enterprise.repository }}/{{ search_enterprise.artifact_name }}/{{ search_enterprise.version }}/{{ search_enterprise.artifact_name }}-{{ search_enterprise.version }}.zip.sha1
  search_zip_url: >-
    {{ search.repository }}/{{ search.artifact_name }}/{{ search.version }}/{{ search.artifact_name }}-{{ search.version }}.zip
  search_zip_sha1_checksum_url: >-
    {{ search.repository }}/{{ search.artifact_name }}/{{ search.version }}/{{ search.artifact_name }}-{{ search.version }}.zip.sha1
  sfs_jar_url: >-
    {{ sfs.repository }}/{{ sfs.artifact_name }}/{{ sfs.version }}/{{ sfs.artifact_name }}-{{ sfs.version }}.jar
  sfs_jar_sha1_checksum_url: >-
    {{ sfs.repository }}/{{ sfs.artifact_name }}/{{ sfs.version }}/{{ sfs.artifact_name }}-{{ sfs.version }}.jar.sha1
  trouter_jar_url: >-
    {{ trouter.repository }}/{{ trouter.artifact_name }}/{{ trouter.version }}/{{ trouter.artifact_name }}-{{ trouter.version }}.jar
  trouter_jar_sha1_checksum_url: >-
    {{ trouter.repository }}/{{ trouter.artifact_name }}/{{ trouter.version }}/{{ trouter.artifact_name }}-{{ trouter.version }}.jar.sha1
  transform_jar_url: >-
    {{ transform.repository }}/{{ transform.artifact_name }}/{{ transform.version }}/{{ transform.artifact_name }}-{{ transform.version }}.jar
  transform_jar_sha1_checksum_url: >-
    {{ transform.repository }}/{{ transform.artifact_name }}/{{ transform.version }}/{{ transform.artifact_name }}-{{ transform.version }}.jar.sha1
  sync_zip_url: >-
    {{ sync.repository }}/{{ sync.version }}/sync-dist-6.x-{{ sync.version }}.zip
  sync_zip_sha1_checksum_url: >-
    {{ sync.repository }}/{{ sync.version }}/sync-dist-6.x-{{ sync.version }}.zip.sha1
war_downloads:
  - url: >-
      {{ api_explorer.repository }}/{{ api_explorer.artifact_name }}/{{ api_explorer.version }}/{{ api_explorer.artifact_name }}-{{ api_explorer.version }}.war
    dest: "{{ content_folder }}/web-server/webapps/api-explorer.war"
    sha1_checksum_url: >-
      {{ api_explorer.repository }}/{{ api_explorer.artifact_name }}/{{ api_explorer.version }}/{{ api_explorer.artifact_name }}-{{ api_explorer.version }}.war.sha1
amp_downloads:
  - url: >-
      {{ amps.googledrive_repo.repository }}/{{ amps.googledrive_repo.version }}/alfresco-googledrive-repo-enterprise-{{ amps.googledrive_repo.version }}.amp
    sha1_checksum_url: >-
      {{ amps.googledrive_repo.repository }}/{{ amps.googledrive_repo.version }}/alfresco-googledrive-repo-enterprise-{{ amps.googledrive_repo.version }}.amp.sha1
    dest: >-
      {{ content_folder }}/amps_repo/alfresco-googledrive-repo-enterprise.amp
  - url: >-
      {{ amps.googledrive_share.repository }}/{{ amps.googledrive_share.version }}/alfresco-googledrive-share-{{ amps.googledrive_share.version }}.amp
    sha1_checksum_url: >-
      {{ amps.googledrive_share.repository }}/{{ amps.googledrive_share.version }}/alfresco-googledrive-share-{{ amps.googledrive_share.version }}.amp.sha1
    dest: "{{ content_folder }}/amps_share/alfresco-googledrive-share.amp"
  - url: >-
      {{ amps.device_sync.repository }}/{{ amps.device_sync.version }}/alfresco-device-sync-repo-{{ amps.device_sync.version }}.amp
    sha1_checksum_url: >-
      {{ amps.device_sync.repository }}/{{ amps.device_sync.version }}/alfresco-device-sync-repo-{{ amps.device_sync.version }}.amp.sha1
    dest: "{{ content_folder }}/amps_repo/alfresco-device-sync-repo.amp"
  - url: >-
      {{ amps.aos_module.repository }}/{{ amps.aos_module.version }}/alfresco-aos-module-{{ amps.aos_module.version }}.amp
    sha1_checksum_url: >-
      {{ amps.aos_module.repository }}/{{ amps.aos_module.version }}/alfresco-aos-module-{{ amps.aos_module.version }}.amp.sha1
    dest: "{{ content_folder }}/amps_repo/alfresco-aos-module.amp"
# A default keystore is stored in /var/opt/alfresco/content-services/keystore,
# to replace this with a custom keystore place the keystore file in the "configuration_files/keystores" folder
# and change this flag to true. See the deployment guide for more details.
use_custom_keystores: false
# common dependencies should be updated also in *-extra-vars.yml as well thanks
# to default ansible merging behaviour
dependencies_version:
  postgresql_connector: 42.2.19
  postgres_major_version: 14
  activemq: 5.18.3
  java: 17.0.9
  java_build: 9
  tomcat: 10.1.13
  libreoffice: 7.2.5.1
  pdf_renderer: 1.1
  imagemagick: 7.1.0-16-ci-6
apache_archive_url: https://archive.apache.org
java_major: "{{ dependencies_version.java | regex_search('^[0-9]+') }}"
tomcat_archive_url: "{{ apache_archive_url }}/dist/tomcat"
activemq_archive_url: "{{ apache_archive_url }}/dist/activemq"
dependencies_url:
  postgresql_connector: >-
    {{ maven_repository.org }}/postgresql/postgresql/{{ dependencies_version.postgresql_connector }}/postgresql-{{ dependencies_version.postgresql_connector }}.jar
  postgresql_connector_sha1_checksum_url: >-
    {{ maven_repository.org }}/postgresql/postgresql/{{ dependencies_version.postgresql_connector }}/postgresql-{{ dependencies_version.postgresql_connector }}.jar.sha1
  activemq: >-
    {{ activemq_archive_url }}/{{ dependencies_version.activemq }}/apache-activemq-{{ dependencies_version.activemq }}-bin.tar.gz
  activemq_sha512_checksum_url: >-
    {{ activemq_archive_url }}/{{ dependencies_version.activemq }}/apache-activemq-{{ dependencies_version.activemq }}-bin.tar.gz.sha512
  java: >-
    https://github.com/adoptium/temurin{{ java_major }}-binaries/releases/download/jdk-{{ dependencies_version.java }}%2B{{ dependencies_version.java_build }}/OpenJDK{{ java_major }}U-jdk_x64_linux_hotspot_{{ dependencies_version.java }}_{{ dependencies_version.java_build }}.tar.gz
  java_sha256_checksum: >-
    https://github.com/adoptium/temurin{{ java_major }}-binaries/releases/download/jdk-{{ dependencies_version.java }}%2B{{ dependencies_version.java_build }}/OpenJDK{{ java_major }}U-jdk_x64_linux_hotspot_{{ dependencies_version.java }}_{{ dependencies_version.java_build }}.tar.gz.sha256.txt
  tomcat: >-
    {{ tomcat_archive_url }}/tomcat-{{ dependencies_version.tomcat.split('.')[0] }}/v{{ dependencies_version.tomcat }}/bin/apache-tomcat-{{ dependencies_version.tomcat }}.tar.gz
  tomcat_sha512_checksum_url: >-
    {{ tomcat_archive_url }}/tomcat-{{ dependencies_version.tomcat.split('.')[0] }}/v{{ dependencies_version.tomcat }}/bin/apache-tomcat-{{ dependencies_version.tomcat }}.tar.gz.sha512
repo_db_url: ""
repo_db_driver: org.postgresql.Driver
repo_db_name: "alfresco"
repo_db_username: "alfresco"
sync_db_url: ""
sync_db_driver: org.postgresql.Driver
sync_db_name: "alfresco-sync"
sync_db_username: "alfresco-sync"
use_ssl: false
# Put your domain name here if any (e.g. ecm.alfresco.com).
# Needs to be empty if unused (don't use dummy values)
fqdn_alfresco: ""
autogen_unsecure_secrets: false
ats_mtls_capable: >
  {{
    acs.version is version('7.4', 'ge') and
    transform.version is version('3.1', 'ge') and
    trouter.version is version('2.1', 'ge') and
    sfs.version is version('2.1', 'ge')
  }}
