- name: Enable additional repositories
  become: true
  vars:
    epel_url: >-
      https://dl.fedoraproject.org/pub/epel/epel-release-latest-{{ ansible_distribution_major_version }}.noarch.rpm
    rpmfusion_free_url: >-
      https://mirrors.rpmfusion.org/free/el/rpmfusion-free-release-{{ ansible_distribution_major_version }}.noarch.rpm
  ansible.builtin.dnf:
    name: "{{ item }}"
    state: present
    disable_gpg_check: true
  loop:
    - "{{ epel_url }}"
    - "{{ rpmfusion_free_url }}"
