- name: Add GPG keys for additional repositories
  become: true
  vars:
    epel_gpg_key_url: >-
      https://dl.fedoraproject.org/pub/epel/RPM-GPG-KEY-EPEL-{{ ansible_distribution_major_version }}
    rpmfusion_gpg_key_url: >-
      https://rpmfusion.org/keys?action=AttachFile&do=get&target=RPM-GPG-KEY-rpmfusion-free-el-{{ ansible_distribution_major_version }}
  ansible.builtin.rpm_key:
    key: "{{ item }}"
    state: present
  loop:
    - "{{ epel_gpg_key_url }}"
    - "{{ rpmfusion_gpg_key_url }}"
  register: transformers_rpm_key_result
  retries: "{{ transformers_el_repos_retries }}"
  delay: "{{ transformers_el_repos_delay }}"
  until: transformers_rpm_key_result is succeeded

- name: Enable additional repositories
  become: true
  vars:
    epel_url: >-
      https://dl.fedoraproject.org/pub/epel/epel-release-latest-{{ ansible_distribution_major_version }}.noarch.rpm
    rpmfusion_free_url: >-
      https://mirrors.rpmfusion.org/free/el/rpmfusion-free-release-{{ ansible_distribution_major_version }}.noarch.rpm
  ansible.builtin.dnf:
    name: "{{ item }}"
    state: present
    disable_gpg_check: false
  loop:
    - "{{ epel_url }}"
    - "{{ rpmfusion_free_url }}"
  register: transformers_dnf_repos_result
  retries: "{{ transformers_el_repos_retries }}"
  delay: "{{ transformers_el_repos_delay }}"
  until: transformers_dnf_repos_result is succeeded
