{{ ansible_managed | comment }}
# PostgreSQL Client Authentication Configuration File
# ===================================================
#
# See: https://www.postgresql.org/docs/current/static/auth-pg-hba-conf.html
local   all             postgres                                peer
{% for client in postgres_client_auth %}
{{ client.type }} {{ client.database }} {{ client.user }} {{ client.address }}  {{ client.method }}
{% endfor %}