[Unit]
Description=Alfresco Shared File Store
After=syslog.socket network.target

[Service]
Type=simple
User={{ username }}
ExecStart={{ binaries_folder }}/ats-shared-fs.sh
WorkingDirectory={{ ats_home }}

[Install]
WantedBy=multi-user.target
