#!/bin/sh
if [ $(id -u) -eq 0 ]; then
    echo "This script must not be executed by root"
    exit
fi

. {{ config_folder }}/setenv.sh
{% for key, value in sfs_environment.items() %}
export {{ key }}="{{ value | join(' ') }}"
{% endfor %}
${JAVA_HOME}/bin/java ${JAVA_OPTS} \
	-jar ${ATS_HOME}/alfresco-shared-file-store-*.jar \
	--spring.config.additional-location=optional:sfs-mtls-server.properties \
	> {{ logs_folder }}/ats-shared-fs.log
