server.ssl.enabled=true
server.ssl.key-password={{ ats_keystore.pass | default('') }}
server.ssl.key-store={{ ats_keystore.path | quote }}
server.ssl.key-store-password={{ ats_keystore.pass | default('') }}
server.ssl.key-store-type={{ ats_keystore.type | default('JCEKS') }}
server.ssl.trust-store={{ ats_truststore | default(java_home + '/lib/security/cacerts') }}
server.ssl.trust-store-password={{ ats_truststore_pass | default('changeit') }}
server.ssl.trust-store-type=JCEKS
server.ssl.client-auth=need
