[Unit]
Description=Alfresco Search Service
After=syslog.target network.target local-fs.target remote-fs.target nss-lookup.target

[Service]
Type=forking
User={{ username }}
Environment=SOLR_INCLUDE={{ binaries_dir }}/solr.in.sh
WorkingDirectory={{ binaries_dir }}/solr
Environment=JAVA_HOME=/usr/java
ExecStart={{ binaries_dir }}/solr.sh start -a "-Dcreate.alfresco.defaults={{ search_cores | join(',')  }}"
ExecReload={{ binaries_dir }}/solr.sh restart
ExecStop={{ binaries_dir }}/solr.sh stop
Restart=on-failure
RestartSec=60

[Install]
WantedBy=multi-user.target
