#!/bin/sh
if [ $(id -u) -eq 0 ]; then
    echo "This script must not be executed by root"
    exit
fi
. {{ config_folder }}/setenv.sh
{% if acs.version is version('7.2.0', '>=') -%}
export JAVA_TOOL_OPTIONS="-Dalfresco.secureComms.secret={{ reposearch_shared_secret | quote }}"
{% endif %}
export SOLR_INCLUDE={{ config_dir }}/solr.in.sh
{{ binaries_dir }}/solr/bin/solr $*
