---
- name: Converge
  hosts: all
  tasks:
    - name: "Include activemq"
      ansible.builtin.include_role:
        name: "activemq"
    - name: Flush Handlers
      ansible.builtin.meta: flush_handlers
    - name: "Include transformers"
      ansible.builtin.include_role:
        name: "transformers"
      vars:
        tengine_environment:
          JAVA_OPTS:
            - -Xms512m
            - -Xmx900m
            - $JAVA_OPTS
