export TRAVIS_BUILD_DIR=/Users/Giovanni.Toraldo/src/alfresco/alfresco-ansible-deployment
export AWS_REGION=us-east-1
export TRAVIS_BRANCH=local
export TRAVIS_BUILD_NUMBER=1
export DTAS_VERSION=OPSEXP-1208-handle-google-docs-url-community

source_env_if_exists .env.credentials
env_vars_required GITHUB_TOKEN
env_vars_required AWS_ACCESS_KEY_ID AWS_SECRET_KEY
env_vars_required NEXUS_USERNAME NEXUS_PASSWORD