# Required environment variables to launch molecule tests locally
# On travis they are available from settings
export AWS_REGION=eu-west-1
export MOLECULE_IT_AWS_VPC_SUBNET_ID=subnet-6bdd4223
export BRANCH_NAME=local
export BUILD_NUMBER=1
export DTAS_VERSION=v1.1.1
ANSIBLE_VAULT_PASSWORD_FILE=$(expand_path ./.vault_pass.txt)
export ANSIBLE_VAULT_PASSWORD_FILE

source_env_if_exists .env.credentials
env_vars_required CLONE_GITHUB_TOKEN
env_vars_required AWS_ACCESS_KEY_ID AWS_SECRET_ACCESS_KEY
env_vars_required NEXUS_USERNAME NEXUS_PASSWORD
