[defaults]
pipelining = True

[ssh_connection]
ssh_args = -C -o UserKnownHostsFile=/dev/null -o ControlMaster=auto -o ControlPersist=60s -o ForwardX11=no -o LogLevel=ERROR -o IdentitiesOnly=yes -o StrictHostKeyChecking=no
pipelining = True
retries = 5
