[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible-core = "==2.15.9"
jinja2 = "==3.1.3"
jmespath = "==1.0.1"

[dev-packages]
ansible-lint = "==6.14.3"
molecule = "==6.0.3"
molecule-plugins = {extras = ["docker","ec2"], version = "23.5.3"}
boto3 = "==1.26.9"
pyhamcrest = "==2.1.0"
pylint = "==2.17.7"
pytest = "==7.1.3"
pytest-testinfra = "==8.1.0"
requests = "==2.31.0"
yamllint = "==1.33.0"
dnspython = "==2.5.0"
prospector = "==1.9.0"
defusedxml = "==0.7.1"
