[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible-core = "==2.16.14"
jinja2 = "==3.1.6"
jmespath = "==1.0.1"

[dev-packages]
ansible-lint = "==25.1.3"
molecule = "==24.12.0"
molecule-plugins = {extras = ["docker","ec2"], version = "23.6.0"}
boto3 = "==1.26.9"
pyhamcrest = "==2.1.0"
pylint = "==2.17.7"
pytest = "==8.3.5"
pytest-testinfra = "==8.1.0"
requests = "==2.32.3"
yamllint = "==1.37.0"
dnspython = "==2.6.1"
prospector = "==1.11.0"
defusedxml = "==0.7.1"
