[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible-core = "==2.16.15"
jinja2 = "==3.1.6"
jmespath = "==1.0.1"

[dev-packages]
ansible-lint = "==26.1.0"
molecule = "==24.12.0"
molecule-plugins = {extras = ["docker","ec2"], version = "23.6.0"}
boto3 = ">=1.39.13"

pytest = ">=8.3.5"
pytest-testinfra = ">=8.1.0"
pyhamcrest = ">=2.1.0"
