[Unit]
Description=Alfresco Content Services
Requires=activemq.service tomcat.service

[Service]
Type=oneshot
ExecStart=/bin/true
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
