[Unit]
Description=Alfresco Content Service with state monitoring
After=alfresco-content.service
BindsTo=alfresco-content.service

[Service]
Type=notify
NotifyAccess=exec
ExecStart={{ binaries_folder }}/alfresco-content-monitored-startup.sh
TimeoutStartSec=300
Environment=SVC=alfresco-content-probes

