[Unit]
Description=Apache Tomcat - Alfresco instance
#Requires=postgresql.service activemq.service
#After=syslog.socket network.target postgresql.service activemq.service
After=syslog.socket network.target

[Service]
Type=forking
User={{ username }}
ExecStart={{ binaries_folder }}/tomcat.sh start
ExecStop={{ binaries_folder }}/tomcat.sh stop

[Install]
WantedBy=multi-user.target
