---
# defaults file for roles/common
binaries_folder: /opt/alfresco
config_folder: /etc/opt/alfresco
data_folder: /var/opt/alfresco
logs_folder: /var/log/alfresco

# Default home for components
sync_home: "{{ binaries_folder }}/sync-service"
ats_home: "{{ binaries_folder }}/transform-service"

# Due to https://github.com/ansible/ansible/issues/64957
# Using default() filter for hostvars 1st level key requires ansible 2.10+
nginx_host: "{% if groups.nginx | length == 0 %}127.0.0.1{% else %}{{ hostvars[groups.nginx[0]].ansible_host | default('127.0.0.1') }}{% endif %}"
repo_host: "{% if groups.repository | length == 0 %}127.0.0.1{% else %}{{ hostvars[groups.repository[0]].ansible_default_ipv4.address | default('127.0.0.1') }}{% endif %}"
activemq_host: >-
  {% if 'external_activemq' in groups %}
  {{- groups['external_activemq'] | first -}}
  {% else %}
  {{- groups['activemq'] | map('extract', hostvars, ['ansible_default_ipv4','address']) | first | default('127.0.0.1') -}}
  {% endif %}
db_host: "{% if groups.database | length == 0 %}127.0.0.1{% else %}{{ hostvars[groups.database[0]].ansible_default_ipv4.address | default('127.0.0.1') }}{% endif %}"
solr_host: "{% if groups.search | length == 0 %}127.0.0.1{% else %}{{ hostvars[groups.search[0]].ansible_default_ipv4.address | default('127.0.0.1') }}{% endif %}"
share_host: "{{ repo_host }}"
ats_tengine_aio_host: "{% if groups.transformers | length == 0 %}127.0.0.1{% else %}{{ hostvars[groups.transformers[0]].ansible_default_ipv4.address | default('127.0.0.1') }}{% endif %}"
sfs_host: "{% if groups.transformers | length == 0 %}127.0.0.1{% else %}{{ hostvars[groups.transformers[0]].ansible_default_ipv4.address | default('127.0.0.1') }}{% endif %}"
trouter_host: "{% if groups.transformers | length == 0 %}127.0.0.1{% else %}{{ hostvars[groups.transformers[0]].ansible_default_ipv4.address | default('127.0.0.1') }}{% endif %}"
adw_host: "{% if groups.adw | length == 0 %}127.0.0.1{% else %}{{ hostvars[groups.adw[0]].ansible_default_ipv4.address | default('127.0.0.1') }}{% endif %}"
sync_host: "{% if groups.syncservice | length == 0 %}127.0.0.1{% else %}{{ hostvars[groups.syncservice[0]].ansible_default_ipv4.address | default('127.0.0.1') }}{% endif %}"

ports_cfg:
  nginx:
    http: "{{ ports.nginx.http | default(80) }}"
    https: "{{ ports.nginx.https | default(443) }}"
  activemq:
    openwire: >-
      {% if 'external_activemq' in groups %}
      {{- groups['external_activemq'][0].activemq_port | default(61616) -}}
      {% else %}
      {{- ports.activemq.openwire | default(61616) -}}
      {% endif %}
  repository:
    http: "{{ ports.repository.http | default(8080) }}"
    https: "{{ ports.repository.https | default(8443) }}"
    shutdown: "{{ ports.repository.shutdown | default(8005) }}"
  postgres:
    sql: "{{ ports.postgres.sql | default(5432) }}"
  transformers:
    tengine: "{{ ports.transformers.tengine | default('8090') }}"
    trouter: "{{ ports.transformers.trouter | default('8095') }}"
  sfs:
    http: "{{ ports.sfs.http | default('8099') }}"
  search:
    http: "{{ ports.search.http | default('8983') }}"
  sync:
    http: "{{ ports.sync.http | default('9090') }}"
    admin: "{{ ports.sync.admin | default('9093') }}"
    
# Default download location of necessary artefacts
download_location: /tmp/ansible_artefacts

os_fallback:
  - ../vars/{{ ansible_distribution }}{{ ansible_distribution_version }}.yml
  - ../vars/{{ ansible_distribution }}{{ ansible_distribution_major_version }}.yml
  - ../vars/{{ ansible_distribution }}.yml
  - ../vars/{{ ansible_os_family }}.yml
  - ../vars/{{ ansible_system }}.yml

ansible_installation_status_file: "{{ binaries_folder }}/.ansible_alfresco_components.status"

nexus_user: "{{ lookup('env', 'NEXUS_USERNAME') | default(null) }}"
nexus_password: "{{ lookup('env', 'NEXUS_PASSWORD') | default(null) }}"
