---
- name: Converge
  hosts: all
  tasks:
    - name: "Include tomcat"
      ansible.builtin.include_role:
        name: "tomcat"

    - name: Ensure tomcat service is started and enabled on boot
      become: true
      ansible.builtin.service:
        name: alfresco-content.service
        state: started
