---
- name: Converge
  hosts: all
  tasks:
    - name: "Include activemq"
      ansible.builtin.include_role:
        name: "activemq"
    - name: "Include sfs"
      ansible.builtin.include_role:
        name: "sfs"
    - name: "Include transformers"
      ansible.builtin.include_role:
        name: "transformers"
    - name: "Include t-router"
      ansible.builtin.include_role:
        name: "trouter"
    - name: "Include search_enterprise"
      ansible.builtin.include_role:
        name: "search_enterprise"
