---
# defaults file for roles/activemq
activemq_base: "{{ config_folder }}/activemq"
activemq_conf: "{{ config_folder }}/activemq/conf"
activemq_data: "{{ data_folder }}/activemq/data"
activemq_tmp: "{{ data_folder }}/activemq/tmp"
