proxy_redirect off;
proxy_buffer_size                  16k;
proxy_buffers                      8 16k;
proxy_set_header Host              $host;
{% if nginx_set_proxy_headers %}
proxy_set_header X-Real-IP         $remote_addr;
proxy_set_header X-Forwarded-For   $proxy_add_x_forwarded_for;
proxy_set_header X-Forwarded-Proto $scheme;
proxy_set_header X-Forwarded-Host  $host;
proxy_set_header X-Forwarded-Port  $server_port;
{% endif %}
proxy_pass_header Set-Cookie;
