map $remote_addr $rogue_repo_clients {
    default		1;
    ::1			0;
    127.0.0.1		0;
{% for trusted_repo_client in [ share_host, solr_host, sync_host ] | unique %}
    {{ trusted_repo_client }}	0;
{% endfor %}
}

server {
    access_log {{ logs_folder }}/nginx.alfresco.access.log;
    error_log  {{ logs_folder }}/nginx.alfresco.error.log error;

    listen {{ ports_cfg.nginx.http | default('80') }};

{% if item.server_name is defined %}
    server_name {{ item.server_name }};
{% endif %}
    if ($rogue_repo_clients) {
        return 301 https://$host$request_uri;
    }
    include {{ nginx_vhost_path }}/alfresco_proxy.include;
}
