    client_max_body_size 0;

    absolute_redirect {{ 'on' if nginx_absolute_redirect else 'off' }};

    set  $allowOriginSite *;
    proxy_pass_request_headers on;
    proxy_pass_header Set-Cookie;

    # Protect access to SOLR APIs
    location ~ ^/.*/s(ervice)?/api/solr/.*$ {
        if ($solr_trackers != 1) {
            return 403;
        }
        proxy_pass http://tracker_lb;
        include {{ nginx_vhost_path }}/alfresco_proxy_headers.include;
    }
    location ~ ^/.*/wcs(ervice)?/api/solr/.*$ { return 403; }
    location ~ ^/.*/proxy/.*/api/solr/.*$ { return 403; }
    location ~ ^/.*/-default-/.*/api/.*$ { return 403; }

    # Protect access to Prometheus endpoint
    location ~ ^(/.*/s/prometheus)$ {return 403;}

    location / {
        proxy_pass http://repo_lb;
        include {{ nginx_vhost_path }}/alfresco_proxy_headers.include;
    }

    # External settings, do not remove
    #ENV_ACCESS_LOG

    location /share/ {
        proxy_pass http://share_lb;
        include {{ nginx_vhost_path }}/alfresco_proxy_headers.include;
    }

    location /alfresco/ {
        proxy_pass http://repo_lb;
        include {{ nginx_vhost_path }}/alfresco_proxy_headers.include;
    }

    location /api-explorer/ {
        proxy_pass http://repo_lb;
        include {{ nginx_vhost_path }}/alfresco_proxy_headers.include;
    }

{% if groups['identity'] | default([]) | length > 0 %}
    location /auth {
        proxy_pass http://{{ identity_host }}:{{ ports_cfg.identity.http }};
        include {{ nginx_vhost_path }}/alfresco_proxy_headers.include;
    }

{% endif %}
{% if groups['acc'] | default([]) | length > 0 %}
    location /control-center/ {
        proxy_pass http://{{ acc_host }}:8881/;
        include {{ nginx_vhost_path }}/alfresco_proxy_headers.include;
    }

{% endif %}
{% if acs.edition == "Enterprise" %}
{% if groups['syncservice'] | default([]) | length > 0 %}
    location /syncservice/ {
        proxy_pass http://{{ sync_host }}:{{ ports_cfg.sync.http }}/alfresco/;
        include {{ nginx_vhost_path }}/alfresco_proxy_headers.include;
    }

{% endif %}
{% if groups['adw'] | default([]) | length > 0 %}
    location /workspace/ {
        proxy_pass http://{{ adw_host }}:8880/;
        include {{ nginx_vhost_path }}/alfresco_proxy_headers.include;
    }
{% endif %}
{% endif %}
