all:
  children:
    external:
      children:
        external_activemq:
          hosts:
            {{ mqhost }}:
              {{ mqattrs | to_yaml }}
{% if eshost is defined %}
        external_elasticsearch:
          hosts:
            {{ eshost }}:
              {{ esattrs | to_yaml }}
{% endif %}
