server {
        listen {{ acc_port }};
        client_max_body_size 0;

        set  $allowOriginSite *;
        proxy_pass_request_headers on;
        proxy_pass_header Set-Cookie;

        location / {
              root {{ nginx_default_vhost_docroot }}/{{ acc_context }}/;
            index index.html index.htm;
        }
    }
