[Unit]
Description=Alfresco Transform Router
After=syslog.socket network.target

[Service]
Type=simple
User={{ username }}
ExecStart={{ binaries_folder }}/ats-atr.sh
WorkingDirectory={{ ats_home }}

[Install]
WantedBy=multi-user.target
