[Unit]
Description=Alfresco Transform Router
After=syslog.socket network.target 

[Service]
Type=simple
User=alfresco
ExecStart={{ binaries_folder }}/ats-atr.sh

[Install]
WantedBy=multi-user.target