[Unit]
Description=Alfresco Transform Service - AIO Transform Engine
After=syslog.socket network.target local-fs.target remote-fs.target

[Service]
Type=simple
EnvironmentFile={{ binaries_folder }}/alfresco-tengine-aio-envs
User={{ username }}
ExecStartPre=/bin/bash {{ config_folder }}/setenv.sh
ExecStart={{ binaries_folder }}/ats-ate-aio.sh
WorkingDirectory={{ ats_home }}
Restart=on-failure
RestartSec=60

[Install]
WantedBy=multi-user.target
