{%- macro ats_proto() -%}
http
{%- if ats_keystore.cert_containers | default([]) | length > 0 -%}
s
{%- endif -%}
{%- endmacro %}
JAVA_OPTS="-DPDFRENDERER_EXE={{ ats_home }}/alfresco-pdf-renderer\
-DLIBREOFFICE_HOME=${LIBREOFFICE_HOME}\
-DIMAGEMAGICK_ROOT=${IMAGEMAGICK_HOME}\
-DIMAGEMAGICK_DYN=${IMAGEMAGICK_DYN}\
-DIMAGEMAGICK_EXE=${IMAGEMAGICK_EXE}\
-DIMAGEMAGICK_CONFIG=${IMAGEMAGICK_CONFIG}\
-DIMAGEMAGICK_CODERS=${IMAGEMAGICK_CODERS}\
{% if acs.edition == 'Enterprise' %}
-DACTIVEMQ_URL=failover:({{ activemq_transport }}://{{ activemq_host }}:{{ ports_cfg.activemq[activemq_protocol] }})?timeout=3000\
-DACTIVEMQ_USER={{ activemq_username }}\
-DACTIVEMQ_PASSWORD={{ activemq_password }}\
-DFILE_STORE_URL={{ ats_proto() }}://${ATS_SHARED_FS_HOST}:{{ ports_cfg.sfs.http }}/alfresco/api/-default-/private/sfs/versions/1/file"
{% endif %}
{% for key, value in tengine_environment.items() %}
{{ key }}="{{ value | join(' ') }}"
{% endfor %}
