[Unit]
Description=Alfresco Transform Service - AIO Transform Engine
After=syslog.socket network.target local-fs.target remote-fs.target

[Service]
Type=simple
EnvironmentFile={{ binaries_folder }}/alfresco-tengine-aio-envs
User={{ username }}
ExecStart=/bin/bash -c "exec {{ java_home }}/bin/java ${JAVA_OPTS} -jar ${ATS_HOME}/{{ transform.artifact_name }}-{{ transform.version }}.jar --spring.config.additional-location=optional:tengine-mtls.properties > {{ logs_folder }}/ats-ate-aio.log"
WorkingDirectory={{ ats_home }}
Restart=on-failure
RestartSec=60

[Install]
WantedBy=multi-user.target
