[Unit]
Description=Alfresco Transform Service
Requires=alfresco-tengine-aio.service

[Service]
Type=oneshot
ExecStart=/bin/true
RemainAfterExit=true

[Install]
WantedBy=multi-user.target