server.ssl.enabled=true
server.ssl.key-password={{ ats_keystore.pass | default('') }}
server.ssl.key-store=file:{{ ats_keystore.path | quote }}
server.ssl.key-store-password={{ ats_keystore.pass | default('') }}
server.ssl.key-store-type={{ ats_keystore.type | default('JCEKS') }}
server.ssl.trust-store=file:{{ transformers_truststore_path }}
server.ssl.trust-store-password={{ transformers_truststore_pass }}
server.ssl.trust-store-type={{ transformers_truststore_type }}
server.ssl.client-auth=need

client.ssl.key-store=file:{{ ats_keystore.path | quote }}
client.ssl.key-store-password={{ ats_keystore.pass | default('') }}
client.ssl.key-store-type={{ ats_keystore.type | default('JCEKS') }}
client.ssl.trust-store=file:{{ transformers_truststore_path }}
client.ssl.trust-store-password={{ transformers_truststore_pass }}
client.ssl.trust-store-type={{ transformers_truststore_type }}
client.ssl.hostname-verification-disabled=true
