[Unit]
Description=Alfresco Transformation AIO
After=syslog.target
 
[Service]
PIDFile=/var/run/transformation.pid
User={{ aiousername }}
ExecStart=/usr/java/bin/java -DPDFRENDERER_EXE=/usr/bin/alfresco-pdf-renderer -DLIBREOFFICE_HOME=/opt/libreoffice6.3/ -DIMAGEMAGICK_ROOT=/etc/ImageMagick-7/ -DIMAGEMAGICK_DYN=/usr/lib64/ImageMagick-7.0.10 -DIMAGEMAGICK_EXE=/usr/bin/convert -DACTIVEMQ_URL=failover:(tcp://localhost:61616)?timeout=3000 -DFILE_STORE_URL=http://localhost:8099/alfresco/api/-default-/private/sfs/versions/1/file -jar /usr/bin/alfresco-transform-core-aio-boot.jar
SuccessExitStatus=143 
 
[Install] 
WantedBy=multi-user.target
