---
# tasks file for roles/java
- name: Check if dns entry is defined in /etc/resolv.conf
  command:
    cmd: 'grep -q 8.8.8.8 /etc/resolv.conf'
  register: google_in_resolv
  changed_when: false
  failed_when: false

- when: google_in_resolv.failed
  name: fix dns issue with google dns
  become: true
  become_user: root
  shell: 'echo "nameserver 8.8.8.8" > /etc/resolv.conf'

- name: check for JDK on remote box
  stat:
    path: '{{ java_home }}'
  register: remote_java
  failed_when: false

- name: Create temp dir
  become: true
  become_user: root
  file:
    path: "{{ temp_dir }}"
    state: directory
    mode: '0755'

- name: Download file with check (md5)
  get_url:
    url: "{{ jdk_url }}"
    dest: "{{ temp_dir }}"
    checksum: "md5:{{ jdk_md5_checksum }}"
  register: remote_jdk_tar
  when: not remote_java.stat.exists

- name: Unarchive jdk tar.gz
  unarchive:
    src: "{{ temp_dir }}/{{ jdk_tar_file }}"
    dest: "{{ temp_dir }}"
    remote_src: true
    mode: '0755'
  when: not remote_java.stat.exists

- name: Copy Java
  become: true
  become_user: root
  copy:
    src: "{{ temp_dir }}/{{ jdk_folder }}/"
    dest: "{{ java_home }}"
    remote_src: true
    owner: root
    group: root
    mode: 'u=rwx,go=rx'
  when: not remote_java.stat.exists

- name: Check if setenv file exists
  stat:
    path: "{{ config_folder }}/setenv.sh"
  register: setenv_exists

- name: check if setenv file exists
  stat:
    path: "{{ config_folder }}/setenv.sh"
  register: setenv_exists

- name: Add setenv bash file
  become: true
  become_user: "{{ username }}"
  template:
    src: setenv.sh
    dest: "{{ config_folder }}/setenv.sh"
    owner: "{{ username }}"
    group: "{{ group_name }}"
    mode: 'u=rwx,go=rx'
  when: not setenv_exists.stat.exists
