[Unit]
Description=Apache ActiveMQ - Alfresco instance
After=syslog.socket network.target

[Service]
Type=forking
User={{ username }}
ExecStart={{ binaries_folder }}/activemq.sh start
ExecStop={{ binaries_folder }}/activemq.sh stop

[Install]
WantedBy=multi-user.target
