---
- name: Converge
  hosts: all
  vars:
    identity_admin_password: keycloak12345
  tasks:
    - name: "Include identity"
      ansible.builtin.include_role:
        name: "identity"
    - name: "Include identity realm"
      ansible.builtin.include_role:
        name: "identity"
        tasks_from: realm
