---
# tasks file for central
- name: Include OS specific variables
  include_vars: "{{ ansible_distribution }}{{ ansible_distribution_major_version }}.yml"

- name: Include nexus credentials for local testing
  include_vars: "nexus.yml"
  failed_when: false

- name: Include host var file
  include_vars: "hosts.yml"
  failed_when: false

- name: ensure a list of packages installed
  become: true
  package:
    name: "{{ item }}"
    state: present
  poll: 0
  loop: "{{ utils }}"

- name: "Create {{ group_name }} group"
  group:
      name: "{{ group_name }}"
      system: yes

- name: "Create {{ username }} user"
  user:
    name: "{{ username }}"
    comment: "{{ username }} user"
    system: yes
    group: "{{ group_name }}"

- name: "Check for binaries folder"
  stat:
    path: '{{ binaries_folder }}'
  register: binaries_exists
  failed_when: false

- name: Create binaries folder
  file:
    path: "{{ binaries_folder }}"
    state: directory
    owner: "{{ username }}"
    group: "{{ group_name }}"
    recurse: yes
    mode: 'u=rwx,g=rwx,o=rx'
  when: not binaries_exists.stat.exists

- name: "Check for configuration folder"
  stat:
    path: '{{ config_folder }}'
  register: config_exists
  failed_when: false

- name: Create configuration folder
  file:
    path: "{{ config_folder }}"
    state: directory
    owner: "{{ username }}"
    group: "{{ group_name }}"
    recurse: yes
    mode: 'u=rwx,g=rwx,o=rx'
  when: not config_exists.stat.exists

- name: "Check for data folder"
  stat:
    path: '{{ data_folder }}'
  register: data_exists
  failed_when: false

- name: Create data folder
  file:
    path: "{{ data_folder }}"
    state: directory
    owner: "{{ username }}"
    group: "{{ group_name }}"
    recurse: yes
    mode: 'u=rwx,g=rwx,o=rx'
  when: not data_exists.stat.exists

- name: "Check for logs folder"
  stat:
    path: '{{ logs_folder }}'
  register: logs_exists
  failed_when: false

- name: Create logs folder
  file:
    path: "{{ logs_folder }}"
    state: directory
    owner: "{{ username }}"
    group: "{{ group_name }}"
    recurse: yes
    mode: 'u=rwx,g=rwx,o=rx'
  when: not logs_exists.stat.exists
