[Unit]
Description=Alfresco Sync Service
Requires=postgresql.service activemq.service
# $$$$$$$Fix this bit
After=syslog.socket network.target postgresql.service activemq.service tomcat.service
PartOf=alfresco-content.service

[Service]
Type=forking
User=alfresco
ExecStart=/opt/alfresco/syncservice.sh start
ExecStop=/opt/alfresco/syncservice.sh stop

[Install]
WantedBy=multi-user.target