[Unit]
Description=Alfresco Enterprise Search - All in one Service
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]
Type=simple

User={{ username }}

Environment=SERVER_PORT={{ search_enterprise_port }}
Environment=SPRING_ACTIVEMQ_BROKERURL=failover:({{ activemq_protocol }}://{{ activemq_host }}:{{ ports_cfg.activemq.openwire }})
Environment=SPRING_ACTIVEMQ_USER={{ activemq_username }}
Environment=SPRING_ACTIVEMQ_PASSWORD={{ activemq_password }}
Environment=SPRING_ELASTICSEARCH_REST_URIS={{ elasticsearch_protocol }}://{{ elasticsearch_host }}:{{ ports_cfg.elasticsearch.http }}
Environment=SPRING_ELASTICSEARCH_REST_USERNAME={{ elasticsearch_username }}
Environment=SPRING_ELASTICSEARCH_REST_PASSWORD={{ elasticsearch_password }}
Environment=ALFRESCO_SHAREDFILESTORE_BASEURL=http://{{ sfs_host }}:{{ ports_cfg.sfs.http }}/alfresco/api/-default-/private/sfs/versions/1/file
Environment=ALFRESCO_ACCEPTED_CONTENT_MEDIA_TYPES_CACHE_BASE_URL=http://{{ trouter_host }}:{{ ports_cfg.transformers.trouter }}/transform/config

ExecStart={{ java_home }}/bin/java -jar {{ search_enterprise_binaries_dir }}/alfresco-elasticsearch-live-indexing-{{ search_enterprise.version }}-app.jar
ExecStop=/bin/kill -15 $MAINPID

Restart=on-failure
RestartSec=60
SuccessExitStatus=143

WorkingDirectory={{ search_enterprise_binaries_dir }}

[Install]
WantedBy=multi-user.target
