[Unit]
Description=Alfresco Enterprise Search - Reindex job
After=syslog.target network.target local-fs.target remote-fs.target nss-lookup.target

[Service]
Type=oneshot

User={{ username }}

{% include "elasticsearch-cfg.j2" %}

Environment=SPRING_DATASOURCE_URL=jdbc:postgresql://{{ db_host }}:{{ ports_cfg.postgres.sql }}/{{ repo_db_name }}
Environment=SPRING_DATASOURCE_USERNAME={{ repo_db_username }}
Environment=SPRING_DATASOURCE_PASSWORD={{ repo_db_password }}

ExecStart={{ java_home }}/bin/java -jar {{ search_enterprise_binaries_dir }}/alfresco-elasticsearch-reindexing-{{ search_enterprise.version }}-app.jar {{ search_enterprise_reindex_options }}

WorkingDirectory={{ search_enterprise_binaries_dir }}

[Install]
WantedBy=multi-user.target
