Environment=ALFRESCO_SHAREDFILESTORE_BASEURL=http://{{ sfs_host }}:{{ ports_cfg.sfs.http }}/alfresco/api/-default-/private/sfs/versions/1/file
Environment=ALFRESCO_ACCEPTED_CONTENT_MEDIA_TYPES_CACHE_BASE_URL=http://{{ trouter_host }}:{{ ports_cfg.transformers.trouter }}/transform/config
Environment=ELASTICSEARCH_INDEXNAME=alfresco
Environment=SPRING_ACTIVEMQ_BROKERURL=failover:({{ search_enterprise_activemq_transport }}://{{ search_enterprise_activemq_host }}:{{ search_enterprise_activemq_port }})
Environment=SPRING_ACTIVEMQ_USER={{ search_enterprise_activemq_username }}
Environment=SPRING_ACTIVEMQ_PASSWORD={{ search_enterprise_activemq_password | replace('%', '%%') }}
Environment=SPRING_ELASTICSEARCH_REST_URIS={{ elasticsearch_protocol }}://{{ elasticsearch_host }}:{{ ports_cfg.elasticsearch.http }}
Environment=SPRING_ELASTICSEARCH_REST_USERNAME={{ elasticsearch_username }}
Environment=SPRING_ELASTICSEARCH_REST_PASSWORD={{ elasticsearch_password | replace('%', '%%') }}
