[Unit]
Description=Alfresco Enterprise Search - Reindex job
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]
Type=oneshot

User={{ username }}

Environment=SPRING_ELASTICSEARCH_REST_URIS={{ elasticsearch_protocol }}://{{ elasticsearch_host }}:{{ ports_cfg.elasticsearch.http }}
Environment=SPRING_ELASTICSEARCH_REST_USERNAME={{ elasticsearch_username }}
Environment=SPRING_ELASTICSEARCH_REST_PASSWORD={{ elasticsearch_password }}

Environment=ELASTICSEARCH_INDEXNAME=alfresco

Environment=ALFRESCO_SHAREDFILESTORE_BASEURL=http://{{ sfs_host }}:{{ ports_cfg.sfs.http }}/alfresco/api/-default-/private/sfs/versions/1/file
Environment=ALFRESCO_ACCEPTED_CONTENT_MEDIA_TYPES_CACHE_BASE_URL=http://{{ trouter_host }}:{{ ports_cfg.transformers.trouter }}/transform/config

ExecStart={{ java_home }}/bin/java -jar {{ search_enterprise_binaries_dir }}/alfresco-elasticsearch-reindexing-{{ search_enterprise.version }}-app.jar

WorkingDirectory={{ search_enterprise_binaries_dir }}

[Install]
WantedBy=multi-user.target
