---
- name: Ensure that Ansible installation meet requirements
  hosts: localhost
  tasks:
    - name: Fail if Ansible version is too old
      ansible.builtin.fail:
        msg:
          - "Installed Ansible version ({{ ansible_version.major }}.{{ ansible_version.minor }}) is too old. Upgrade to at least 2.12."
          - "Please refer to https://github.com/Alfresco/alfresco-ansible-deployment/blob/master/docs/deployment-guide.md#setup-a-control-node for detailed instructions."
      when: (ansible_version.major < 2) or
            (ansible_version.major == 2 and ansible_version.minor < 12)

    - name: Check Jinja2 version
      ansible.builtin.shell:
        cmd: |
          set -o pipefail
          pip show Jinja2 | awk '/^Version: /{print $NF}'
        executable: /bin/bash
      register: jinja2_version
      changed_when: false

    - name: Fail if Jinja2 version is too old
      ansible.builtin.fail:
        msg:
          - "Installed Jinja2 version ({{ jinja2_version.stdout }}) is too old. Upgrade to at least version 3."
          - "Please refer to https://github.com/Alfresco/alfresco-ansible-deployment/blob/master/docs/deployment-guide.md#setup-a-control-node for detailed instructions."
      when: (jinja2_version.stdout.split('.')[0] | int < 3)

- name: Repository pre-requisites
  hosts: repository
  gather_facts: false
  tasks:
    - name: Check Share security setup
      ansible.builtin.fail:
        msg: |
          No `known_urls` has been provided to set up Share security.
          This is likely to result in a non working Share instance.
          Take a look at the documentation to set it up properly or disable CORS
          https://github.com/Alfresco/alfresco-ansible-deployment/blob/master/docs/SECURITY.md
      when:
        - known_urls | default([]) | length == 0
        - cors.enabled | default(True)
