---
- name: Handle secrets
  vars:
    autogen_unsecure_secrets: True
  ansible.builtin.import_playbook: ../../../../playbooks/secrets.yml
- name: Converge
  hosts: all
  tasks:
    - name: "Include roles/activemq"
      ansible.builtin.include_role:
        name: "activemq"
      vars:
        activemq_environment:
          ACTIVEMQ_OPTS:
            - -Xms300m
            - -Xmx900m
            - $ACTIVEMQ_OPTS
