name: "community"

on:
  pull_request:
    branches:
      - master
      - 'next/**'
    paths-ignore:
      - "docs/**"
      - "*.md"
      - .github/workflows/docs.yml
      - .pre-commit-config.yaml
  push:
    branches: [master]
    paths-ignore:
      - "docs/**"
      - "*.md"
      - .github/workflows/docs.yml
      - .pre-commit-config.yaml

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref_name }}
  cancel-in-progress: true

jobs:
  requirements:
    name: Ensure requirements are met
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup Python
        uses: ./.github/actions/setup-python
        id: setup-python

      - name: Install python packages
        uses: Alfresco/alfresco-build-tools/.github/actions/pipenv@4657bc5c89f722332e897d8f360b75f08e81b8b9 # v9.3.1
        with:
          python-version: ${{ steps.setup-python.outputs.python-version }}

      - name: Ensure required artifacts have been cached
        uses: ./.github/actions/cache-downloads
        with:
          cache-name: community
  docker:
    name: Test ${{ matrix.role.name }} role on ${{ matrix.molecule_distro.image }}
    # -A* and -M* are not available without nexus credentials
    if: |
      ! startsWith(github.head_ref, 'next/') && ! contains(github.event.pull_request.labels.*.name, 'ci-prerelease')
    runs-on: ubuntu-latest
    needs: requirements
    strategy:
      fail-fast: false
      matrix:
        molecule_distro:
          - image: ubuntu:24.04
          - image: ubuntu:22.04
          - image: rockylinux/rockylinux:9.5
        role:
          - name: activemq
          - name: common
          - name: elasticsearch
          - name: identity
          - name: java
          - name: nginx
          - name: postgres
          - name: search
          - name: tomcat
          - name: transformers
    env:
      PY_COLORS: 1
      PYTHONUNBUFFERED: 1
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set up Python
        uses: ./.github/actions/setup-python
        id: setup-python

      - name: Install python packages
        uses: Alfresco/alfresco-build-tools/.github/actions/pipenv@4657bc5c89f722332e897d8f360b75f08e81b8b9 # v9.3.1
        with:
          python-version: ${{ steps.setup-python.outputs.python-version }}

      - name: Install and cache ansible galaxy dependencies
        uses: ./.github/actions/galaxy
        with:
          cache-name: community

      - name: Setup workspace
        uses: ./.github/actions/setup-workspace

      - name: Cache downloads
        uses: ./.github/actions/cache-downloads
        with:
          cache-name: community

      - name: Run tests
        env:
          MOLECULE_ROLE_IMAGE: ${{ matrix.molecule_distro.image }}
        uses: nick-fields/retry@ce71cc2ab81d554ebbe88c79ab5975992d79ba08 # v3.0.2
        with:
          timeout_minutes: 60
          max_attempts: 3
          retry_wait_seconds: 10
          command: cd roles/${{ matrix.role.name }} && pipenv run molecule test

  docker_integration:
    name: Test ${{ matrix.scenario.name }} scenario on ${{ matrix.molecule_distro.image }}
    if: github.actor != 'dependabot[bot]'
    needs: requirements
    strategy:
      fail-fast: false
      matrix:
        molecule_distro:
          - image: ubuntu:22.04
          - image: rockylinux/rockylinux:9.5
        scenario:
          - name: docker_community
    uses: ./.github/workflows/docker.yml
    with:
      scenario: ${{ matrix.scenario.name }}
      os_distribution: ${{ matrix.molecule_distro.image }}
      galaxy_cache: community
